@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&family=Roboto:wght@100&display=swap');
body{
    background-color: #fff;
    font-family: "Poppins", "san-serif";
    /* background-color: rgb(181, 207, 207); */
}
body{
    margin: 0%;
    padding: 0%;
}
.main-container{
    /* border: 2px solid black; */
    display: inline-block;
    margin: 20px 0px 20px 300px;
    padding: 30px;
    box-shadow: 0px 1px 10px 10px lightgrey;

}
.container{
    /* background-color: antiquewhite; */
    margin-bottom: -25px;
}
.font-color{
    margin-bottom: 0%;
    padding: 0;
    /* background-color: rgb(224, 156, 156); */
    color: rgb(97, 95, 95);
}
.margin_left ul{
    /* margin-top: 100px; */
    margin-left: -10px;
    list-style-type: none;
}
dt{
    margin-bottom: 20px;
}
dd{
    margin-left: 0;
    padding: 5px 0px;
    /* color: rgb(55, 55, 55); */
}
a{
    text-decoration: none;
}
.table-content{
    border-collapse: collapse;
    width: 900px;
    margin: 25px 0;
    border: 1px solid black;
    border-style: 1px solid black;
    overflow: hidden;


} 
.table-content thead tr{
    text-align:left;
    font-weight: bold;
}
.table-content th,
.table-content td{
    padding: 10px 12px;
}
hr{
    border-top: .1px solid rgb(214, 209, 209);
    color: blueviolet;
    width: auto;
}
tr:nth-child(2n){
    background-color: #e8ecf1;
}
tr:nth-child(2n+1){
    background-color: #dce7f5;
}
th{
    background-color: #e8ecf1;
}
